<a href="https://colab.research.google.com/github/Anshul-Raina/numpy_tutorial_practice/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

Importing the data from a CSV file to a pandas DataFrame

In [ ]:
boston_df=pd.read_csv('/content/housing.csv')
type(boston_df)

pandas.core.frame.DataFrame

In [ ]:
#csv file to pandas dataframe
diabetes_df=pd.read_csv('/content/diabetes.csv')

In [ ]:
type(diabetes_df)

pandas.core.frame.DataFrame

In [ ]:
#prints the first five rows
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
#prints the last five rows
diabetes_df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
#prints the entire dataframe
print(diabetes_df)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]

In [ ]:
#In an m*n matrix shape returns (m,n)
diabetes_df.shape

(768, 9)

Exporting a DataFrame to a CSV file

In [ ]:
boston_df.to_csv('boston.csv')

Loading the data from an excel file to a pandas DataFrame

pd.read_excel('file path')

Exporting the pandas DataFrame to an excel file

pd.to_excel('file name')

In [ ]:
#creating a dataframe with random values
random_df=pd.DataFrame(np.random.rand(20,10))
print(random_df)

           0         1         2         3         4         5         6  \
0   0.905324  0.020625  0.917610  0.602788  0.022272  0.045312  0.427512
1   0.345202  0.559977  0.664291  0.175431  0.303576  0.393232  0.250786
2   0.012538  0.777031  0.542018  0.451831  0.910469  0.866798  0.036982
3   0.001540  0.170340  0.411518  0.147098  0.162939  0.830853  0.557356
4   0.874654  0.438256  0.014007  0.716300  0.577976  0.235011  0.617818
5   0.808935  0.499110  0.405463  0.026800  0.720725  0.556718  0.444256
6   0.842542  0.325463  0.320272  0.199546  0.138400  0.511595  0.188685
7   0.546153  0.852663  0.994272  0.281281  0.838482  0.869400  0.880230
8   0.454117  0.678763  0.875692  0.729720  0.295565  0.175168  0.990910
9   0.721248  0.852570  0.116496  0.304419  0.150091  0.718225  0.990521
10  0.049858  0.676567  0.529595  0.443124  0.495347  0.027235  0.674820
11  0.924891  0.226750  0.349518  0.361198  0.932418  0.889944  0.771213
12  0.302104  0.344690  0.270122  0.337490  0.299575  0.502231  0.228347
13  0.502429  0.715024  0.789998  0.036311  0.192244  0.355110  0.676762
14  0.164835  0.757990  0.205690  0.723043  0.414150  0.155369  0.125870
15  0.687743  0.350408  0.425653  0.622089  0.438660  0.696713  0.016613
16  0.872113  0.360560  0.464541  0.179109  0.415987  0.155794  0.521531
17  0.677957  0.427497  0.016479  0.076150  0.275641  0.673986  0.364830
18  0.880280  0.571778  0.894450  0.350655  0.807992  0.088517  0.348164
19  0.911374  0.202520  0.993893  0.105751  0.876718  0.033658  0.233593

           7         8         9
0   0.791349  0.690197  0.846738
1   0.145334  0.776187  0.540468
2   0.685186  0.672971  0.984489
3   0.906505  0.765320  0.717602
4   0.430916  0.767495  0.037674
5   0.067921  0.775000  0.322506
6   0.166147  0.525885  0.197631
7   0.599334  0.665130  0.922735
8   0.333356  0.781241  0.380908
9   0.786995  0.143062  0.778149
10  0.903768  0.658147  0.727494
11  0.459421  0.347739  0.893571
12  0.642994  0.892816  0.683343
13  0.878159  0.004102  0.750684
14  0.679545  0.280259  0.946731
15  0.047454  0.342430  0.974270
16  0.338586  0.183423  0.042618
17  0.148929  0.929318  0.029106
18  0.589438  0.312870  0.257283
19  0.510810  0.404887  0.291754

In [ ]:
random_df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.905324,0.020625,0.917610,0.602788,0.022272,0.045312,0.427512,0.791349,0.690197,0.846738
1,0.345202,0.559977,0.664291,0.175431,0.303576,0.393232,0.250786,0.145334,0.776187,0.540468
2,0.012538,0.777031,0.542018,0.451831,0.910469,0.866798,0.036982,0.685186,0.672971,0.984489
3,0.001540,0.170340,0.411518,0.147098,0.162939,0.830853,0.557356,0.906505,0.765320,0.717602
4,0.874654,0.438256,0.014007,0.716300,0.577976,0.235011,0.617818,0.430916,0.767495,0.037674

In [ ]:
random_df.shape

(20, 10)

In [ ]:
random_df=pd.DataFrame(np.random.rand(1,5))

In [ ]:
random_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1 non-null      float64
 1   1       1 non-null      float64
 2   2       1 non-null      float64
 3   3       1 non-null      float64
 4   4       1 non-null      float64
dtypes: float64(5)
memory usage: 168.0 bytes

In [ ]:
#counting the values based on labels
diabetes_df.value_counts('Outcome')

Outcome
0    500
1    268
dtype: int64

In [ ]:
#group the values based on the mean
diabetes_df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

Statistical measures

In [ ]:
diabetes_df.count()

Pregnancies                 768
Glucose                     768
BloodPressure               768
SkinThickness               768
Insulin                     768
BMI                         768
DiabetesPedigreeFunction    768
Age                         768
Outcome                     768
dtype: int64

In [ ]:
diabetes_df.mean()

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [ ]:
#standard deviation
diabetes_df.std()

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
Outcome                       0.476951
dtype: float64

In [ ]:
print(boston_df)

     0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00
0     0.02731   0.00   7.070  0  0.4690  6.4210  78...
1     0.02729   0.00   7.070  0  0.4690  7.1850  61...
2     0.03237   0.00   2.180  0  0.4580  6.9980  45...
3     0.06905   0.00   2.180  0  0.4580  7.1470  54...
4     0.02985   0.00   2.180  0  0.4580  6.4300  58...
..                                                 ...
500   0.06263   0.00  11.930  0  0.5730  6.5930  69...
501   0.04527   0.00  11.930  0  0.5730  6.1200  76...
502   0.06076   0.00  11.930  0  0.5730  6.9760  91...
503   0.10959   0.00  11.930  0  0.5730  6.7940  89...
504   0.04741   0.00  11.930  0  0.5730  6.0300  80...

[505 rows x 1 columns]

In [ ]:
boston_df.shape

(505, 1)

In [ ]:
housing_df=pd.read_csv('/content/housing.csv')

In [ ]:
print(housing_df)

     0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00
0     0.02731   0.00   7.070  0  0.4690  6.4210  78...
1     0.02729   0.00   7.070  0  0.4690  7.1850  61...
2     0.03237   0.00   2.180  0  0.4580  6.9980  45...
3     0.06905   0.00   2.180  0  0.4580  7.1470  54...
4     0.02985   0.00   2.180  0  0.4580  6.4300  58...
..                                                 ...
500   0.06263   0.00  11.930  0  0.5730  6.5930  69...
501   0.04527   0.00  11.930  0  0.5730  6.1200  76...
502   0.06076   0.00  11.930  0  0.5730  6.9760  91...
503   0.10959   0.00  11.930  0  0.5730  6.7940  89...
504   0.04741   0.00  11.930  0  0.5730  6.0300  80...

[505 rows x 1 columns]

In [ ]:
diabetes_df.min()

Pregnancies                  0.000
Glucose                      0.000
BloodPressure                0.000
SkinThickness                0.000
Insulin                      0.000
BMI                          0.000
DiabetesPedigreeFunction     0.078
Age                         21.000
Outcome                      0.000
dtype: float64

In [ ]:
diabetes_df.max()

Pregnancies                  17.00
Glucose                     199.00
BloodPressure               122.00
SkinThickness                99.00
Insulin                     846.00
BMI                          67.10
DiabetesPedigreeFunction      2.42
Age                          81.00
Outcome                       1.00
dtype: float64

In [ ]:
boston_df.max()

 0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00    88.97620   0.00  18.100  0  0.6710  6.9680  91...
dtype: object

In [ ]:
#all the statistical measures about the dataframe
diabetes_df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
diabetes_df.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
Glucose,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
BloodPressure,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
SkinThickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
Insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
BMI,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
DiabetesPedigreeFunction,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
Age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
Outcome,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000